.modalListOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  border-radius: 8px;
  background-color: beige;
  max-width: 800px;
  max-height: 500px;
  color: rgb(63, 63, 63);
  transform: scale(0.8);
  transition: transform 0.3s;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
