.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(211, 211, 211, 0.521);
  padding: 10px;
  border-radius: 16px;
  margin: 5px;
}

.product img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
